@charset 'utf-8';

@import '~highlight.js/styles/dracula.css';

.editor {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.editor-header {
  font-family: sans-serif;
  background: #222;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
}

.editor-header .save {
  border: 0;
  background: #154b15;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 20px;
  cursor: pointer;
}

.editor-header .save:hover {
  background: #0a310a;
}

.editor-header .save-message {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #fff;
  padding: 0 20px;
}

textarea,
.view {
  min-width: 50%;
  max-width: 50%;
  height: 100%;
}

textarea {
  font-size: 18px;
  padding: 10px;
  resize: none;
}

textarea:focus {
  outline: 0 none;
}

.view {
  font-family: sans-serif;
  background: #333;
  color: #fff;
  padding: 10px;
}

