@charset 'utf-8';

@import '~highlight.js/styles/dracula.css';

.editor {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.editor-header {
  font-family: sans-serif;
  background: #222;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 40px;
}

.editor-header .save-message {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #fff;
}

textarea,
.view {
  min-width: 50%;
  max-width: 50%;
  height: calc(100% - 40px);
}

textarea {
  font-size: 18px;
  padding: 10px;
  resize: none;
}

textarea:focus {
  outline: 0 none;
}

.view {
  font-family: sans-serif;
  background: #333;
  color: #fff;
  padding: 10px;
  overflow: auto;
}

