@charset 'utf-8';

@import '~highlight.js/styles/dracula.css';

.editor {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.editor-header {
  font-family: sans-serif;
  background: #222;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
}

.editor-header .save-message {
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #fff;
}

.editor-header .titleInput {
  width: 50%;
}

.editor-header .actions-container {
  display: flex;
}

textarea,
.view {
  min-width: 40%;
  max-width: 40%;
  height: calc(100% - 40px);
}

textarea {
  font-size: 18px;
  padding: 10px;
  resize: none;
}

textarea:focus {
  outline: 0 none;
}

.view {
  font-family: sans-serif;
  background: #333;
  color: #fff;
  padding: 10px;
  overflow: auto;
}

.files-list-container {
  min-width: 20%;
  max-width: 20%;
  background: #fce562;
}

.files-list-container ul {
  list-style: none;
  padding: 0;
  margin: 0 5px;
}

.files-list-container li {
  margin-bottom: 5px;
}
