@charset 'utf-8';

@import '~normalize.css';
/* @import '~highlight.js/styles/dracula.css'; */

* {
  box-sizing: border-box;
}

html,
body,
body > div {
  height: 100%;
  width: 100%;
}

html,
body {
  margin: 0;
}